body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

}
.container {
    height: 60%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
.graph-title {
    flex: 1;
    height: 32px;
    background-color: aqua;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.graph-content {
    flex: 10;
    background-color: #fff;
    border: 2px solid rgba(0, 0, 0, 0.061);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.graph-items {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}
.graph-names {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.graph-names p{
    font-size: 18px;
}
.graph-results {
    flex: 9;
    border-left: 2px solid rgba(0, 0, 0, 0.068);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-right: 16px
}
.graph-result {
    background-color: rgb(42, 42, 185);
    height: 28px;
}
.graph-dropdown {
    margin-left: 10%;
    display: flex;
    align-items: center;

}
.graph-dropdown select {
    height: 28px;
    width: 76px;
    margin-left: 16px;
    border: none;
    border-radius: 5px;
}
.graph-title h2 {
    margin-left: 20%;
    font-size: 28px;
    font-weight: 300;

}